/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}
.heading {
  color: #000000;
  font-family: roboto;
  font-weight: bold;
  font-size: 30px;
}
.items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon {
  height: 20px;
  width: 20px;
}
.searchInputContainer {
  display: flex;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding: 8px;
  margin-left: 15px;
}
.searchInput {
  color: #0f172a;
  background-color: #f1f5f9;
  font-family: open sans;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}
.listItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
